@import './pages/prepmety.css';
@import './pages/main.css';
@import './pages/aboutus.css';
@import './pages/contacts.css   ';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}

.conteiner{
    margin: auto;   
    max-width: 1600px;
}

*{
    box-sizing: border-box;
}

body{
        background-color: #ebfaeb;
}

/*Menu-------------------*/
.navbar{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    background-color: rgb(95, 168, 77);
}

.navbar__conteiner{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.navbar-menu{
    display: flex;
    gap: 20px;
    padding-left: 0;
    margin-bottom: 0;
    
}

.navbar-menu li{
    display: inline-block;
}

.navbar-menu li a{
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    transition: all .07s ease-in-out;
    padding: 10px;
}

.navbar-menu li a:hover{
    opacity: 1;
    transform: scale(1.1);
}

.navbar-wrap{
    display: flex;
    align-content: center;
    flex-flow: row nowrap;
}

.callback:hover{
    transform: scale(1.1);
}

.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #000;
    transition: all 0.07s ease-in-out;
}

.navbar-brand:hover{
    color:#00FF00;
}


/*Menu---------------*/


/*-----------------*/
.navbar-menu li:first-child{
    transition: all 0.5 ease;
}

.navbar-menu li:first-child ul{
    display: none;
}

.navbar-menu li:first-child:hover ul{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border: 1px solid #000;
    transition:all 0.2s ease-in-out;
    background-color: rgb(95, 168, 77);
}
/*----------------*/


/*add-----------------------*/
.add{
    z-index: 1000;
    display: block;
    position: fixed;
    height: 400px;
    width: 600px;
    right: 0;
    bottom: 0;
    background-color: red;
    border-radius: 5px;
}

.close{
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 560px;
    border-radius: 50%;
}

.close::before,
.close::after{
    position: absolute;
    display: block;
    content:'';
    height: 2px;
    background-color: #000;
    width: 30px;
    top: 13px;
    left: 0px;
}
.close::before{
    transform: rotate(45deg);
}

.close::after{
    transform: rotate(-45deg);
}

.add .content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.add .content span{
    font-size: 40px;
    text-align: center;
}
/*add-----------------------*/

/*Footer--------------*/
.footer{
    position: relative;
    height: 250px;  
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, .1);
    padding: 0 10px 0 10px;
}

.footer__conteiner{
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a{
    text-decoration: none;
    color: #000;
}

.footer__contacts a::before {
    margin-right: 10px;
}

.footer__contacts a{
    letter-spacing: 5px;
}

.map__site a{
    color:rgb(0, 0, 0)
}
/*Footer------------*/

/*---------------------*/
.arrow_up{
    position: fixed;
    left: 10px;
    bottom: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 30;
}

.arrow_up a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*--------------*/

/*map---------------*/
.map_site{
    position: relative;
    top: 70px;
    padding: 10px 0 10px 0;
    margin: 0  0 70px 0;
}

.map__site h2{
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.map{
    margin: 0 0 0 20px;
}

.map li{
    margin: 0 0 0 20px;
}

li a{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
/*--------------*/

@media (max-width: 992px){
    .navbar-wrap{
        display: none;
    }

    .navbar__burger{
        width: 30px;
        height: 30px;
        position: relative;
    }

    .navbar__burger span::before,
    .navbar__burger span::after{
        content: '';
    }

    .navbar__burger span{
        top: 50%;
    }

    .navbar__burger span,
    .navbar__burger span::before,
    .navbar__burger span::after{
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: all 0.1s ease-in-out;
    }

    .navbar__burger span::before{
        top: -10px;
    }

    .navbar__burger span::after{
        top: 10px;
    }

    .navbar__burger.active span{
        background-color: rgb(95, 168, 77);
    }

    .navbar__burger.active span::before{
        top: 0;
        transform: rotate(45deg);
    }

    .navbar__burger.active span::after{
        top: 0;
        transform: rotate(-45deg);
    }    

    .navbar-wrap.active{
        display: flex;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 70px; 
        background-color: rgb(95, 168, 77);
        left: 0;
        overflow: auto;
    }

    .navbar-wrap.active .navbar-menu{
        flex-direction: column;
        width: 100%;
    }

    .navbar-wrap.active .navbar-menu li{
        text-align: center;
        width: 100%;
    }

    body._lock{
        overflow: hidden;
    }

    #pred_popup{
        width: 100%;
        position: relative;
        border: 0;
    }

    #pred_popup li{
        background-color: rgb(122, 182, 107);
    }
}